{% extends 'base.html.twig' %}

{% block title %}Index des articles du blog{% endblock %}

{% block body %}

    <div class="container">
    
        {% if app.flashes %}
            <div class="alert alert-success">
                {% for flash in app.flashes('success') %}
                    {{ flash.message }}
                {% endfor %}
            </div>
        {% endif %}
        

        <h1 class="mt-4">
            Vous êtes sur ma page de blog
        </h1>

        <p>
            Vous trouverez ici tous les articles de mon blog.
        </p>
        <a class="btn btn-primary" href="{{ path('blog_new') }}">
            Ajouter un article
        </a>

        <div class="row">

            {% for post in posts %}

        <div class="card ms-4 mb-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <small style="text-decoration:underline"> Créé le {{post.createdAt | format_date('long')}} </small>
                <small class="text-muted">par {{post.author.username}} </small>
                <h5 class="card-title"> {{ post.title }} </h5>
                <p class="card-text"> {{ post.content }} </p>
                <a href="{{ path('blog_show', {slug: post.slug}) }}" class="btn btn-primary">Voir l'article</a>
            </div>
        </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}